@model StateDto

<form asp-action="StateUpdate" method="post">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Update State</h1>

        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">State Id</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="StateId" readonly class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">State Name</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="StateName" class="form-control" />
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">State Code</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="StateCode" class="form-control" />
                <span asp-validation-for="StateCode" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="StateIndex" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-warning form-control" />
            </div>
        </div>
        <div></div>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
