@model AdminDto;
@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="AdminCreate">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Admin Registration</h1>

        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Admin Name</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Admin Password</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">

                <a asp-controller="Home" asp-action="LoginIndex" class="btn-primary btn form-control ">Login</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />

            </div>

        </div>

        <div>
        </div>
    </div>
</form>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
