@model PvaMakeDto

<form asp-action="MakeUpdate" method="post">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Update Make</h1>

        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">State Id</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="MakeId" readonly class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Make Name</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="MakeName" class="form-control" />
                <span asp-validation-for="MakeName" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Make Code</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="MakeCode" class="form-control" />
                <span asp-validation-for="MakeCode" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="MakeIndex" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-warning form-control" />
            </div>
        </div>
        <div></div>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
