@model IEnumerable<PvaModelDto>
@using Newtonsoft.Json


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Model List</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-action="ModelCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Model</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Model Id
                    </th>
                    <th>
                        Model Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.ModelId</td>
                        <td>@item.ModelName</td>
                       
                        <td>

                            <a asp-action="ModelToUpdate" asp-route-stateid="@item.ModelId" class="btn btn-primary">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a asp-action="ModelDelete" asp-route-stateid="@item.ModelId" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
{

    <partial name="_ValidationScriptsPartial" />
}